openapi: 3.0.3
info:
  title: E-ES Link API
  version: 2.1.0-intended
  description: >-
    Aktuālais API līgums E-ES Link čempionāta un komandu pieteikšanās platformai.
    Lietotāja reģistrācijas un pārējie galapunkti precīzi attēlo gan veiksmīgās, 
    gan kļūdu JSON atbildes, ko kontrolē Go handleru httpResult struktūra.
  contact:
    name: E-ES Link Team
servers:
  - url: https://e-es.lv
    description: Produkcijas serveris
  - url: http://localhost:1884
    description: Lokālais izstrādes serveris

tags:
  - name: Test
    description: Iekšējie testa galapunkti
  - name: Auth
    description: Autentifikācija un sesijas informācija
  - name: Accounts
    description: Lietotāju kontu reģistrācija, verifikācija un pārvaldība
  - name: Teams
    description: Komandu pieteikumi un apstiprināto komandu datu operācijas
  - name: Races
    description: Sacensību dzīvescikla un konfigurācijas operācijas
  - name: Results
    description: Sacensību rezultātu apskate
  - name: Points
    description: Punktu iesniegšana un dzēšana
  - name: Leaderboard
    description: Kopvērtējuma un rangu operācijas
  - name: Admin
    description: Administratoru kontu operācijas
  - name: News
    description: Ziņu sadaļas pārvaldība
  - name: Events
    description: Pasākumu/notikumu pārvaldība
  - name: WebSocket
    description: Reāllaika datu plūsma

paths:
  /api/test:
    get:
      tags: [Test]
      summary: Testa galapunkts
      x-implemented: true
      responses:
        '200':
          description: HTML testa atbilde
          content:
            text/html:
              schema:
                type: string

  /api/testdb:
    get:
      tags: [Test]
      summary: Datubāzes veselības pārbaude
      x-implemented: true
      responses:
        '200':
          description: Informācija par datubāzes savienojumu
          content:
            application/json:
              schema:
                type: string
                example: Database is healthy
  
  /api/mqtt-logs/{limit}:
    get:
      tags: [Test]
      summary: Iegūt pēdējos MQTT logus
      x-implemented: true
      parameters:
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: MQTT logu saraksts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MQTTLogEntry'
        '500':
          description: Iekšējā servera kļūme vai datubāzes piekļuves kļūme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  
  /api/mqtt-message:
    post:
      tags: [Test]
      summary: Iesniegt MQTT ziņu
      x-implemented: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MQTTMessage'
      responses:
        '200':
          description: MQTT ziņa veiksmīgi iesniegta
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: MQTT message sent successfully
        '400':
          description: Nekorekti dati vai kļūda JSON validācijā
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Iekšējā servera kļūme vai MQTT ziņas sūtīšanas kļūme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/login:
    get:
      tags: [Auth]
      summary: Iegūt pašlaik autentificēto kontu
      x-implemented: true
      responses:
        '200':
          description: Autentificētā konta informācija
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Account'
                  - $ref: '#/components/schemas/AdminAccount'
        '401':
          description: Neautorizēts pieprasījums
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/register-account:
    post:
      tags: [Accounts]
      summary: Reģistrēt jaunu kontu parastajā plūsmā
      x-implemented: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountApplication'
      responses:
        '200':
          description: Reģistrācija veiksmīga
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Nekorekti dati vai kļūda JSON validācijā
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Konflikts (piemēram, lietotājvārds jau ir aizņemts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Iekšējā servera vai datubāzes kļūme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/register-account/{uniqueID}:
    post:
      tags: [Accounts]
      summary: Reģistrēt kontu ar komandas līdera verifikācijas identifikatoru
      x-implemented: true
      parameters:
        - $ref: '#/components/parameters/uniqueIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountApplication'
      responses:
        '200':
          description: Reģistrācija apstrādāta un pievienota komandai
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          description: Nekorekti dati vai kļūdains unikālais identifikators
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Konflikts (lietotājvārds jau eksistē)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Servera kļūme
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/unverified-accounts:
    get:
      tags: [Accounts]
      summary: Saraksts ar neverificētajiem kontiem
      x-implemented: true
      responses:
        '200':
          description: Neverificēto kontu saraksts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '403':
          description: Piekļuve liegta (nav tiesību)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/account-verification-info/{key}:
    get:
      tags: [Accounts]
      summary: Iegūt verifikācijas kritērijus pēc konta atslēgas
      x-implemented: true
      parameters:
        - $ref: '#/components/parameters/keyParam'
      responses:
        '200':
          description: Verifikācijas kritēriju dati
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountVerificationCriteria'
        '404':
          description: Konts pēc norādītās atslēgas netika atrasts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/verify-account/{key}:
    post:
      tags: [Accounts]
      summary: Verificēt un aktivizēt kontu
      x-implemented: true
      parameters:
        - $ref: '#/components/parameters/keyParam'
      responses:
        '200':
          description: Konts veiksmīgi aktivizēts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '403':
          description: Nav tiesību veikt verifikāciju
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/accounts:
    get:
      tags: [Accounts]
      summary: Iegūt lietotāju kontu sarakstu. Virsadministratoriem visu, komandas līderiem komandas dalībniekus un parastam kontam tikai sevi.
      x-implemented: true
      responses:
        '200':
          description: Kontu saraksts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'

  /api/account/{key}:
    patch:
      tags: [Accounts]
      summary: Atjaunināt lietotāja konta informāciju
      x-implemented: true
      parameters:
        - $ref: '#/components/parameters/keyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: Konts veiksmīgi atjaunināts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '409':
          description: Konflikts (izmainītais lietotājvārds jau ir aizņemts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/admin-accounts:
    get:
      tags: [Admin]
      summary: Iegūt administratoru kontu sarakstu
      x-implemented: true
      responses:
        '200':
          description: Administratoru saraksts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminAccount'

  /api/admin-account/{key}:
    patch:
      tags: [Admin]
      summary: Atjaunināt administratora kontu pēc tā atslēgas
      x-implemented: true
      parameters:
        - $ref: '#/components/parameters/keyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAccount'
      responses:
        '200':
          description: Administrators atjaunināts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '409':
          description: Lietotājvārds jau eksistē
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/team-applications:
    get:
      tags: [Teams]
      summary: Iegūt visus komandu pieteikumus. Ierobežotus datus par visiem var dabūt bez konteksta lietotāja. Virsadministratoriem visu komandu pilnīgie dati, komandu līderiem savas komandas pilnīgie dati.
      x-implemented: true
      responses:
        '200':
          description: Pieteikumu saraksts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegistrationFormData'

  /api/team-application:
    post:
      tags: [Teams]
      summary: Jauna komandas pieteikuma iesniegšana
      x-implemented: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationFormData'
      responses:
        '200':
          description: Pieteikums veiksmīgi saņemts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/team/{key}:
    get:
      tags: [Teams]
      summary: Iegūt apstiprinātas komandas datus pēc tās atslēgas
      x-implemented: true
      parameters:
        - $ref: '#/components/parameters/keyParam'
      responses:
        '200':
          description: Komandas dati
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamData'
    patch:
      tags: [Teams]
      summary: Atjaunināt komandas datus pēc tās atslēgas
      x-implemented: true
      parameters:
        - $ref: '#/components/parameters/keyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamData'
      responses:
        '200':
          description: Komandas dati veiksmīgi laboti
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
    post:
      tags: [Teams]
      summary: Izveidot vai pārrakstīt komandas datus pēc atslēgas
      x-implemented: true
      parameters:
        - $ref: '#/components/parameters/keyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamData'
      responses:
        '200':
          description: Komandas dati veiksmīgi saglabāti
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'

  /api/race/start:
    post:
      tags: [Races]
      summary: (NAV IMPLEMENTĒTS) Uzsākt braucienu/sacīksti
      x-implemented: false
      responses:
        '501':
          description: Not implemented

  /api/car/finish:
    post:
      tags: [Races]
      summary: (NAV IMPLEMENTĒTS) Reģistrēt automašīnas finišu
      x-implemented: false
      responses:
        '501':
          description: Not implemented

  /api/races:
    get:
      tags: [Races]
      summary: (NAV IMPLEMENTĒTS) Iegūt sacīkšu sarakstu
      x-implemented: false
      responses:
        '501':
          description: Not implemented
    post:
      tags: [Races]
      summary: (NAV IMPLEMENTĒTS) Izveidot jaunu sacīksti
      x-implemented: false
      responses:
        '501':
          description: Not implemented

  /api/race-config:
    get:
      tags: [Races]
      summary: (NAV IMPLEMENTĒTS) Iegūt sacensību konfigurāciju
      x-implemented: false
      responses:
        '501':
          description: Not implemented

  /api/categories:
    get:
      tags: [Races]
      summary: (NAV IMPLEMENTĒTS) Iegūt automašīnu/sacensību kategorijas
      x-implemented: false
      responses:
        '501':
          description: Not implemented

  /api/results/{raceName}:
    get:
      tags: [Results]
      summary: (NAV IMPLEMENTĒTS) Iegūt rezultātus pēc sacīkstes nosaukuma
      x-implemented: false
      parameters:
        - $ref: '#/components/parameters/raceNameParam'
      responses:
        '501':
          description: Not implemented

  /api/points:
    post:
      tags: [Points]
      summary: (NAV IMPLEMENTĒTS) Iesniegt punktus
      x-implemented: false
      responses:
        '501':
          description: Not implemented
    delete:
      tags: [Points]
      summary: (NAV IMPLEMENTĒTS) Dzēst punktus
      x-implemented: false
      responses:
        '501':
          description: Not implemented

  /api/leaderboard/{ageGroup}:
    get:
      tags: [Leaderboard]
      summary: (NAV IMPLEMENTĒTS) Iegūt topu pēc vecuma grupas
      x-implemented: false
      parameters:
        - $ref: '#/components/parameters/ageGroupParam'
      responses:
        '501':
          description: Not implemented

  /api/news:
    get:
      tags: [News]
      summary: (NAV IMPLEMENTĒTS) Iegūt ziņu sarakstu
      x-implemented: false
      responses:
        '200':
          description: Veiksmīga atbilde
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewsArticle'
    post:
      tags: [News]
      summary: (NAV IMPLEMENTĒTS) Izveidot ziņu rakstu
      x-implemented: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsArticle'
      responses:
        '501':
          description: Not implemented

  /api/news/{id}:
    get:
      tags: [News]
      summary: (NAV IMPLEMENTĒTS) Iegūt ziņu pēc ID
      x-implemented: false
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Ziņas dati
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsArticle'
    put:
      tags: [News]
      summary: (NAV IMPLEMENTĒTS) Atjaunināt ziņu pēc ID
      x-implemented: false
      parameters:
        - $ref: '#/components/parameters/idParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsArticle'
      responses:
        '501':
          description: Not implemented
    delete:
      tags: [News]
      summary: (NAV IMPLEMENTĒTS) Dzēst ziņu pēc ID
      x-implemented: false
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '501':
          description: Not implemented

  /api/news/{id}/attachments:
    post:
      tags: [News]
      summary: (NAV IMPLEMENTĒTS) Pievienot pielikumus ziņai pēc ID
      x-implemented: false
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '501':
          description: Not implemented

  /api/events:
    get:
      tags: [Events]
      summary: (NAV IMPLEMENTĒTS) Iegūt pasākumu sarakstu
      x-implemented: false
      responses:
        '200':
          description: Pasākumu saraksts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompetitionEvent'
    post:
      tags: [Events]
      summary: (NAV IMPLEMENTĒTS) Izveidot jaunu pasākumu
      x-implemented: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompetitionEvent'
      responses:
        '501':
          description: Not implemented

  /api/events/{id}:
    get:
      tags: [Events]
      summary: (NAV IMPLEMENTĒTS) Iegūt pasākumu pēc ID
      x-implemented: false
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '200':
          description: Pasākuma dati
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompetitionEvent'
    put:
      tags: [Events]
      summary: (NAV IMPLEMENTELY) Atjaunināt pasākumu pēc ID
      x-implemented: false
      parameters:
        - $ref: '#/components/parameters/idParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompetitionEvent'
      responses:
        '501':
          description: Not implemented
    delete:
      tags: [Events]
      summary: (NAV IMPLEMENTĒTS) Dzēst pasākumu pēc ID
      x-implemented: false
      parameters:
        - $ref: '#/components/parameters/idParam'
      responses:
        '501':
          description: Not implemented

  /ws:
    get:
      tags: [WebSocket]
      summary: (NAV IMPLEMENTĒTS) Pieslēgšanās reāllaika datiem caur WebSocket Protokolu
      x-implemented: false
      responses:
        '101':
          description: Protokolu pārslēgšana (Switching Protocols)

components:
  parameters:
    limitParam:
      name: limit
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
        default: 100
    keyParam:
      name: key
      in: path
      required: true
      schema:
        type: string
    uniqueIDParam:
      name: uniqueID
      in: path
      required: true
      schema:
        type: string
    raceNameParam:
      name: raceName
      in: path
      required: true
      schema:
        type: string
    ageGroupParam:
      name: ageGroup
      in: path
      required: true
      schema:
        type: string
    idParam:
      name: id
      in: path
      required: true
      schema:
        type: string

  schemas:
    StatusResponse:
      type: object
      properties:
        status:
          type: string
          example: "admin account updated"
          
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: "username already exists"
    MQTTMessage:
      type: object
      properties:
        topic:
          type: string
          example: "test/topic"
        payload:
          type: string
          example: "This is a test MQTT message"
    
    MQTTLogEntry:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/MQTTMessage'
        received_at:
          type: string
          format: date-time

    BilingualText:
      type: object
      properties:
        lv:
          type: string
        en:
          type: string

    AttachedFile:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        url:
          type: string
          format: uri

    NewsArticle:
      type: object
      properties:
        id:
          type: string
        title:
          $ref: '#/components/schemas/BilingualText'
        summary:
          $ref: '#/components/schemas/BilingualText'
        content:
          $ref: '#/components/schemas/BilingualText'
        author:
          type: string
        date:
          type: string
          format: date
        image:
          type: string
          format: uri
        tags:
          type: array
          items:
            type: string
        published:
          type: boolean
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachedFile'

    CompetitionEvent:
      type: object
      properties:
        id:
          type: string
        title:
          $ref: '#/components/schemas/BilingualText'
        description:
          $ref: '#/components/schemas/BilingualText'
        date:
          type: string
          format: date
        endDate:
          type: string
          format: date
        location:
          $ref: '#/components/schemas/BilingualText'
        registrationUrl:
          type: string
          format: uri
        status:
          type: string
          enum: [upcoming, ongoing, completed]

    TeamMember:
      type: object
      properties:
        key:
          type: string
        fullName:
          type: string
        dateOfBirth:
          type: string
          format: date
        educationalInstitution:
          type: string
        role:
          type: string
        classOrYear:
          type: string
        id:
          type: string
        email:
          type: string
          format: email

    AccountApplication:
      type: object
      properties:
        parole:
          type: string
        salt:
          type: string
        lietotajvards:
          type: string
        epasts:
          type: string
          format: email
        telefonanumurs:
          type: string
        komandasNosaukums:
          type: string
        role:
          type: string

    Account:
      type: object
      properties:
        dati:
          $ref: '#/components/schemas/TeamMember'
        parole:
          type: string
        lietotajvards:
          type: string
        epasts:
          type: string
          format: email
        telefonanumurs:
          type: string
        salt:
          type: string
        pendingTeamId:
          type: string
        registered:
          type: boolean
        educationalInstitution:
          type: string
        classOrYear:
          type: string

    AdminAccount:
      type: object
      properties:
        key:
          type: string
        lietotajvards:
          type: string
        parole:
          type: string
        salt:
          type: string
        superadmin:
          type: boolean

    ResponsiblePerson:
      type: object
      properties:
        fullName:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        status:
          type: string

    RegistrationFormData:
      type: object
      properties:
        id:
          type: string
        teamName:
          type: string
        ageGroup:
          type: string
        institution:
          type: string
          nullable: true
        cityOrRegion:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/TeamMember'
        responsiblePerson:
          $ref: '#/components/schemas/ResponsiblePerson'
        howHeardAbout:
          type: string
          nullable: true
        comments:
          type: string
          nullable: true
        confirmTruthful:
          type: boolean
        confirmRules:
          type: boolean
        confirmMedia:
          type: boolean
        appliedAt:
          type: string
          format: date-time
        status:
          type: string

    Car:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          type: string

    TeamData:
      type: object
      properties:
        key:
          type: string
        carId:
          type: string
        teamName:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        ageGroup:
          type: string
        institution:
          type: string
        cityOrRegion:
          type: string
        responsiblePerson:
          $ref: '#/components/schemas/ResponsiblePerson'
        avatar:
          type: string
        carData:
          $ref: '#/components/schemas/Car'

    AccountVerificationCriteria:
      type: object
      properties:
        canRegister:
          type: boolean
        canLinkToTeam:
          type: boolean
        requiredFieldsPresent:
          type: boolean
        usernameAvailable:
          type: boolean
        noTeamNameProvided:
          type: boolean
          nullable: true
        notTeamLeaderRole:
          type: boolean
          nullable: true
        teamNameProvided:
          type: boolean
          nullable: true
        teamApplicationExists:
          type: boolean
          nullable: true
        teamMemberFound:
          type: boolean
          nullable: true
        teamMemberRoleMatches:
          type: boolean
          nullable: true
        noMatchingTeamMember:
          type: boolean
          nullable: true
        teamLeaderRole:
          type: boolean
          nullable: true
        teamLeaderMemberFound:
          type: boolean
          nullable: true